<a href="~/Views/Shared/_Layout.cshtml">~/Views/Shared/_Layout.cshtml</a>
@{
    ViewBag.Title = "Sent";
}
<link href="~/Content/Style.css" rel="stylesheet" />
<h2>Your message was sucessfully submitted <span class="glyphicon glyphicon-ok"></span> </h2>
<div class="space2">

</div>

