@{
    ViewBag.Title = "About";
}


<link href="~/Content/Style.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <h2>@ViewBag.Title</h2>
    </div>

    <div class="row">
        <p>
            Latter-day Saints Service we focus on helping missionaries prepare for their missions. We do this by
            providing information of LDS missions around the world.
            <br />
            We will help all those desiring to serve a mission find answers to their questions. These questions will be answer by returned missionaires that served
            in those missions.
        </p>

        

    </div>
    <div class="row text-center">
        <img class="aboutimg" src="~/Content/Images/homepage2.jpg" />
    </div>

    <div class="row space2">

    </div>
</div>