@{
    ViewBag.Title = "Mission SUD";
}
<link href="~/Content/Style.css" rel="stylesheet" />

<div class="jumbotron">
    <h1>Called to serve</h1>
   
    <blockquote class="blockquote blockquote-reverse">
    <p><i>
    “This work is rigorous. It demands strength and vitality. It demands mental sharpness and capacity.
    It demands faith, desire, and consecration. It demands clean hands and a pure heart.”</i></p>
    <footer class="blockquote-footer">Gordon B. Hinckley, <cite title="Source Title">Missionary Service</cite></footer>
        <button type="button" class="btn btn-info">Learn More</button>
    </blockquote>
    
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 ">
            <div class="embed-responsive embed-responsive-4by3">

                <iframe class="embed-responsive-item " src="https://www.youtube.com/embed/5eZfGS54FJs" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-4">
            <p class="textcontent">
                A young woman from the Philippines shares her faith and hope in knowing that if she sets a good example,
                those around her can return to following the Savior. <br /><br />
                “I need to set a good example every day,” she says. I need to start with myself,
                because how can I influence others if I am not a good example to them?”
            </p>

        </div>
    </div>
    <hr id="hrmiddle">
    <div class="row">
        <div class="col-md-4">
            <p class="textcontent">
                Meet Brandon Jackson, who shared his time and love with orphans in Honduras and discovered
                what one teenage boy can do for others.
            </p>
        </div>
        <div class="col-md-6 ">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ncnoedHIGHM" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>


    </div>
</div>